
header {
  /*background-image: url("http://vignette3.wikia.nocookie.net/marvelcinematicuniverse/images/e/e4/Marvel's_Luke_Cage_-_Transparent_Logo.png/revision/latest?cb=20160529103357");*/
  background-image: url("http://img.cinemablend.com/cb/0/d/4/8/3/3/0d4833b31611c7b082dac9d1c72094a9cdbfb50ab21588564e3f294b3fed91cc.jpg");
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100%;
  font-family: 'Ruslan Display', cursive;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Ruslan Display', cursive;
  text-shadow: 1px 1px 2px yellow;
}

h2 {
  font-family: 'Ruslan Display', cursive;
  position: absolute;;
  bottom: 60px;
  left: 0px;
  width: 100%;
  border-color: yellow;
  border: 0.5px;
  text-shadow: 1px 1px 2px yellow;
}

#player-field {
  position: absolute;
  margin-top: 400px;
}

#dealer-field {
  position: absolute;
  margin-top: 100px;
}

#controls {
  position: absolute;
  margin-top: 320px;
  background-color: black;
  width: 100%;
}

.button {
  background-color: yellow;
  color: black;
}

button {
  background-color: yellow;
  color: black;
}

.dealer0 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 0;
  visibility: visible;
}

.dealer1 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 5.0em;
  visibility: visible;
}

.dealer2 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 10.0em;
  visibility: visible;
}
.dealer3 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 15.0em;
  visibility: visible;
}
.dealer4 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 20.0em;
}
.dealer5 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 25.0em;
  visibility: hidden;
}
.dealer6 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 54.0em;
  visibility: hidden;
}
.dealer7 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 63.0em;
  visibility: hidden;
}
.dealer8 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 72.0em;
  visibility: hidden;
}
.dealer9 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 81.0em;
  visibility: hidden;
}
.dealer10 {
  position: absolute;
  padding-top: 20px;
  margin-top: 150px;
  margin-left: 90.0em;
  visibility: hidden;
}
.player0 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 0;
  /*visibility: hidden;*/
}

.player1 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 5em;
  /*visibility: hidden;*/
}

.player2 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 10em;
  /*visibility: hidden;*/
}
.player3 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 15em;
  /*visibility: hidden;*/
}
.player4 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 20em;
  /*visibility: hidden;*/
}
.player5 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 25em;
  visibility: hidden;
}
.player6 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 30em;
  visibility: hidden;
}
.player7 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 35em;
  visibility: hidden;
}
.player8 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 40em;
  visibility: hidden;
}
.player9 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 45em;
  visibility: hidden;
}
.player10 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 50em;
  visibility: hidden;
}

.hearts{

}

.spades{

}

.diamonds{

}

.clubs{

}

.rank00{

}
.rank02{

}
.rank03{

}
.rank04{

}
.rank05{

}
.rank06{

}
.rank07{

}
.rank08{

}
.rank09{

}
.rank10{

}
.rank11{

}
.rank12{

}
.rank13{

}


.card {
  background-image: url("http://img.cinemablend.com/cb/0/d/4/8/3/3/0d4833b31611c7b082dac9d1c72094a9cdbfb50ab21588564e3f294b3fed91cc.jpg");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  background-position: center;
  background-size: cover;
  color: #000000;
  font-size: 20pt;
  position: absolute;
  width: 4.75em;
  height: 7.00em;
  padding-top: 20px;
  margin-top: 25px;
}

.back {
  position: absolute;
  width: 4.75em;
  height: 7.00em;
  border-style: solid;
  background-position: center;
  border-width: 1px;
  background-color: white;
}

.index {
  font-size: 50%;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0.05em;
  top: 0.0em;
}

.face {
  border: 1px solid #000000;
  position: absolute;
  width: 3.75em;
  height: 3.25em;
  margin-left: 5px;
  border-color: yellow;
}

.image {
  position: absolute;
}


.red { color: #ff0000; }

.ace {
  background-image: url("https://assets3.thrillist.com/v1/image/1775533/size/tmg-article_default_mobile.jpg");
}

.king {
  background-image: url("http://www.thewrap.com/wp-content/uploads/2016/10/judas-bullet-diamondback-luke-cage.jpg");
}

.queen {
  background-image: url("http://cbr.imgix.net/2016/10/mariahtvad.jpg?auto=format&lossless=1&q=40&w=648&h=960&fit=crop");
}

.jack {
  background-image: url("https://s3-us-west-2.amazonaws.com/flx-editorial-wordpress/wp-content/uploads/2016/09/29081135/LukeCage_Shades_700x300.jpg");
}

.front {
  background-image: url("https://larryfire.files.wordpress.com/2013/11/cage.png");
}

.textBox {
  background-color: #ffffc0;
  border-color: #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  clear: right;
  color: #000000;
  float: right;
  font-family: "Times New Roman", serif;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: .5em;
  padding: .1em;
  text-align: center;
  width: 12em;

}

button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

#controlArea {
  margin-top: 0.5em;
  text-align: left;
}

form {
  display: block;
  margin-top: 0em;
  font-family: 'Ruslan Display', cursive;
}

input.button {
  margin-top: .25em
  width: 8em;
}
