
header {
  /*background-image: url("http://vignette3.wikia.nocookie.net/marvelcinematicuniverse/images/e/e4/Marvel's_Luke_Cage_-_Transparent_Logo.png/revision/latest?cb=20160529103357");*/
  background-image: url("http://img.cinemablend.com/cb/0/d/4/8/3/3/0d4833b31611c7b082dac9d1c72094a9cdbfb50ab21588564e3f294b3fed91cc.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  padding: 05px;
}

h3 {
  position: relative;
  text-align: center;
}

.player-field {
  position: absolute;
  margin-top: 300px;
}

.player0 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 0;
  visibility: hidden;
}

.player1 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 9.0em;
  visibility: hidden;
}

.player2 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 18.0em;
  visibility: hidden;
}
.player3 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 27.0em;
  visibility: hidden;
}
.player4 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 36.0em;
  visibility: hidden;
}
.player5 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 45.0em;
  visibility: hidden;
}
.player6 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 54.0em;
  visibility: hidden;
}
.player7 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 63.0em;
  visibility: hidden;
}
.player8 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 72.0em;
  visibility: hidden;
}
.player9 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 81.0em;
  visibility: hidden;
}
.player10 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 90.0em;
  visibility: hidden;
}
.dealer0 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 0;
  visibility: hidden;
}

.dealer1 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 9.0em;
  visibility: hidden;
}

.dealer2 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 18.0em;
  visibility: hidden;
}
.dealer3 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 27.0em;
  visibility: hidden;
}
.dealer4 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 36.0em;
  visibility: hidden;
}
.dealer5 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 45.0em;
  visibility: hidden;
}
.dealer6 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 54.0em;
  visibility: hidden;
}
.dealer7 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 63.0em;
  visibility: hidden;
}
.dealer8 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 72.0em;
  visibility: hidden;
}
.dealer9 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 81.0em;
  visibility: hidden;
}
.dealer10 {
  position: absolute;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 90.0em;
  visibility: hidden;
}

.card {
  background-image: url("http://img.cinemablend.com/cb/0/d/4/8/3/3/0d4833b31611c7b082dac9d1c72094a9cdbfb50ab21588564e3f294b3fed91cc.jpg");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  background-position: center;
  background-size: cover;
  color: #000000;
  font-size: 20pt;
  position: absolute;
  width: 4.75em;
  height: 7.00em;
  padding-top: 20px;
  margin-top: 25px;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
}

.index {
  font-size: 50%;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0.05em;
  top: 0.0em;
}

.face {
  border: 1px solid #000000;
  position: absolute;
  width: 4.75em;
  height: 7.00em;
}

.red { color: #ff0000; }

img {
  height: 200px;
  width: 400px;
  margin-left: -30px;
}

.textBox {
  background-color: #ffffc0;
  border-color: #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  clear: right;
  color: #000000;
  float: right;
  font-family: "Times New Roman", serif;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: .5em;
  padding: .1em;
  text-align: center;
  width: 12em;

}

button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

#controlArea {
  margin-top: 0.5em;
  text-align: left;
}

form {
  display: block;
  margin-top: 0em;
}

input.button {
  margin-top: .25em
  width: 8em;
}
